@{
    ViewBag.Title = "Contact Us";
}
<div class="span10">
    <article id="intro">
        <header>
            <h2>
                Contact</h2>
		</header>
        <p>You can contact me directly on twitter <a href="http://twitter.com/adamspicer" title="contact us on twitter">@@adamspicer</a></p>
        <p>We are not affiliated with his 2010 Presidential campaign.</p>
    </article>
</div>
@Html.Partial("RightColumn")