@{
    ViewBag.Title = "About Us";
}
<div class="span10">
    <article id="intro">
        <header>
            <h2>
                About</h2>
		</header>
        <p>We believe in Ron Paul's constitutional values and want to help him win the GOP primary.</p>
        <p>We are not affiliated with his 2010 Presidential campaign.</p>
    </article>
</div>
@Html.Partial("RightColumn")