<div class="span4 right-column">
    <h3>
        Share With Others</h3>
    Help spread this website by sharing it with your friends.

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style" 
            addthis:url="http://RonPaulSocialMedia.com"
            addthis:title="Ron Paul Twitter Profile Badges"
            addthis:description="Update your picture in support for Ron Paul in the GOP primaries.">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet" addthis:related="ronpaul" addthis:via="RonPaulBadges"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <!-- AddThis Button END -->
    <div class="pledge-campaign">
        <a href='http://www.pledgie.com/campaigns/16619'><img alt='Click here to lend your support to: Ron Paul Social Media Badges and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/16619.png?skin_name=chrome' border='0' /></a>
    </div>
</div>